<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<!--post image-->
<% if @post.description_image.attached? %>
  <%= image_tag(@post.description_image, class: "img-responsive", width: "200", height: "200") %>
<% end %>

<p>
  <strong>No of likes:</strong>
  <%= @post.no_of_likes %>
</p>

<p>
  <strong>No of saved:</strong>
  <%= @post.no_of_saved %>
</p>

<p>
  <strong>No of comments:</strong>
  <%= @post.no_of_comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<% if logged_in? && (current_user == @post.user || current_user.admin?) %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
