<!DOCTYPE html>
<html>
<head>

  <title>HealthyFood</title>
  <meta charset="utf-8">
  <!--phone-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href= "../../assets/images/logoo.jpg">
  <script type="text/javascript" src="../javascripts/navigation.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<%= render 'layouts/navigation' %>
<%= yield %>
<%=render 'layouts/footer' %>
</body>
</html>
